<div class="modal-header">
  <h5 class="modal-title">Create new {{message}}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close(false)"
  ></button>
</div>

<div class="modal-body">
  <div class="md-form mb-5">
    <form [formGroup]="validatingForm">
      Name:
      <input 
        type="text"
        id="name"
        formControlName="Name"
        class="form__input"
      >
      <div *ngIf="Name?.invalid && (Name?.dirty || Name?.touched)" class="alert alert-danger">
        <div *ngIf="Name?.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="Name?.errors?.['maxlength']">
          Name must be no more than 50 characters long.
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close(false)">
    Cancel
  </button>
  <button *ngIf="Name?.invalid" type="button" class="btn btn-primary" disabled>
    Confirm
  </button>
  <button *ngIf="!Name?.invalid" type="button" class="btn btn-primary" (click)="close(true)">
    Confirm
  </button>
</div>